
<nav class="my-navbar">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#collapse-menu"
              aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="collapse-menu">
      <ul class="nav navbar-nav pull-right">
        <li><a id="signinbtn" class="button btn btn-primary" href="<%= new_session_url%>">Sign In</a></li>
        <li><a id="signupbtn" class="button btn btn-primary js-signup-modal-open">Sign Up</a></li>
        <li>
          <form action="<%= guest_session_url %>" method="post">
            <%= auth_token %>
            <input id="guestbtn" class="button btn btn-primary" type="submit" value="Guest"/>
          </form>
        </li>
      </ul>
    </div>

  </div>
</nav>

<section class="module content">
  <div class="container">
    <h2 class="row col-xs-12 text-center">Welcome to Catstagram!</h2>
    <p class="text-center">This is a project inspired by Instagram. </p>
  </div>
</section>

<section class="module parallax parallax-1">
  <div class="container">
    <h2>Created using Ruby on Rails and jReact.</h2>
  </div>
</section>

<% if flash['errors'] %>
  <div class="auth-wrap sign-up displayed">
<%else %>
  <div class="auth-wrap sign-up">
<%end%>
  <div class="container">
    <div class="auth-form col-xs-8 col-xs-offset-2">
      <% if flash['errors'] %>
        <% flash['errors'].each do |error| %>
          <div class="alert alert-warning"><%= error %></div>
        <% end %>
      <% end %>

      <div class="jumbotron sign-head col-xs-offset-3 col-xs-4">

        <div class="row">
          <span class="modal-close js-modal-close">&times;</span>

            <h2 class="text-center">Sign Up</h2>

            <form class="form-group" action=<%= users_url %> method='POST'>
              <%= auth_token %>
              <input type="text" name="user[username]" class="form-control" value="<%= @user.username %>" placeholder="Username">
              <br/>

              <input type="password" name="user[password]" class="form-control" placeholder="Password">
              <br/>

              <input type="password" name="user[password_confirmation]" class="form-control" placeholder="Password Confirmation">
              <br/>

              <button type="submit" class="btn btn-primary form-control">Sign Up</button>
            </form>

            <p class="text-center">Already have an account? <a href= "<%= new_session_url%>">Sign In!</a></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script>
  $(function(){
    $("body").on("click", ".js-signup-modal-open", function(event){
      event.preventDefault();
      $(".sign-up").addClass("displayed");
    });

    $("body").on("click", ".js-modal-close", function(event){
      event.preventDefault();
      $(".sign-up").removeClass("displayed");
      $(".sign-in").removeClass("displayed");
    });
  });
</script>
