<!DOCTYPE html>
<html>
<head>
  <title>Catstagram</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href='https://fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "favicon.ico" %>
  <% if current_user %>
    <script>
      CURRENT_USER_ID = <%= current_user.id %>
      CURRENT_USER_USERNAME = "<%= current_user.displayname %>"
      window.cloudinary_upload_preset = "<%=ENV["cloudinary_upload_preset"]%>"
      window.cloudinary_cloud_name = "<%=ENV["cloudinary_cloud_name"]%>"
    </script>
  <% end %>

</head>
<body>

<%= yield %>

</body>
</html>
