<!DOCTYPE html>
<html>
<head>
  <title>Pixor</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <% if current_user %>
    <script>
      const CURRENT_USER_ID = <%= current_user.id %>
      const CURRENT_USER_USERNAME = "<%= current_user.username %>"
    </script>
  <% end %>
</head>
<body>

<% if flash['errors'] %>
  <ul class="flashes">
    <% flash['errors'].each do |error| %>
      <li class="alert alert-info"><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= yield %>

</body>
</html>
